.searcform {
   display: flex;
   justify-content: center;
   
}
.search-input{
   padding: 6px 0px;
   width: 90%;
   margin-bottom: 3px;
   outline: none;
   justify-content: center;
   display:flex;
   margin-left: 30px;
   
}